<div class="col-sm-12">

	<div class="col-sm-2 left-nav">
		<p id="notice"><%= notice %></p>

		<p>
		  <strong>Name:</strong>
			  <%= (image_tag @user.image_url(:thumb).to_s) %>
		  </p>
		  <p>
		  <%= @user.name %>
		</p>

		<%= link_to 'Edit', edit_user_path(@user) %>
		
		<input type="file" class="text-center" capture="camera" accept="image/*" id="cameraInput" name="cameraInput">
	</div>

	<div class="col-sm-10 gallery">
		
			<img src="alsdha.jpg" class="grid">
	</div>
</div>