<div class="well col-xs-12">
	<div class="col-sm-8 col-sm-offset-2">
		

		<h1>Social login Integration with Rails</h1>

		<p>Twitter + Facebook + Linkedin + Github + Google + Devise</p>

		<p>Also If user is logged in that case he can link his other social accounts too. To test out the functionality of connecting other social account. Go to edit profile once you are logged in by clicking on your name in header and check status of logged in accounts and you can also link the account which are not yet connected. Click on those urls to connect those social networks</p>

	</div>


	<% if user_signed_in? %>
          <li><%= link_to current_user.name, current_user %></li>
          <li><%= link_to "Logout", destroy_user_session_path %></li>
          <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
</div>
